# Python virtual environment
.venv/

# Python cache
__pycache__/
**/*/__pycache__/

# MLflow local data 
mlruns/
mlartifacts/

# Artifacts 
artifacts/*
!artifacts/reports/
artifacts/reports/*
!artifacts/reports/metrics.json

# Processed data
data/processed/

# Dataset 
data/raw/telco.csv

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db